*{
    margin: 0px;
}

#navigation_bar{
    display: flex;
    background-color: purple;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#menu{
    display: flex;

}
#menu ul{
    display: flex;
    padding-right:-200px;
}
#menu ul li{
    display: flex;
    list-style: none;
    padding:20px;
}
#menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#menu ul li a:hover{
    color:yellow;
}

.about_akan{
    font-size: x-large;
    align-content: center;
    font-family: serif;

}



.footer{
    background:purple;
    color: #d3d3d3;
    height: 320px;
    position: relative;
}
#contact_us{
    display: flex;
    flex-direction: row;
    /* height: 300px; */
    align-items: center;
    justify-content:center;
    padding: 30px;
}
#contact_us, h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Facebook, #Instagram, #Email , #Call, #WhatsApp{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
#Facebook img, #Instagram img, #Email img, #Call img, #WhatsApp img{
    border-radius: 50%;
}
#Facebook img:hover, #Instagram img:hover, #Email img:hover, #Call img:hover, #WhatsApp img:hover{
    transform: scale(2);
}
.footer .footer-bottom{
    background:#212122;
    color: #afafaf;
    height:40px;
    width:100%;
    text-align:center;
    position: absolute;
    bottom: 0px;
    left:0px;
    padding-top: 15px;
}
